* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f5f8ff;
}
.search-wrapper {
  width: 50%;
  margin: 1 auto;
  padding: 5px;
}
#search-container {
  margin: 1em 0;
}
#search-container input {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}
#search-container input:focus {
  border-bottom-color: #6759ff;
}
#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #6759ff;
  color: #fff;
  border-radius: 5px;
  margin-top: 0.5em;
}
.filter-button-value {
  border: 1px solid #6759ff;
  padding: 5px;
  border-radius: 3em;
  background-color: transparent;
  color: #6759ff;
  cursor: pointer;
  font-size: 6px;
}
.active {
  background-color: #6759ff;
  color: #fff;
}
#products {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Display 5 products in each column */
  grid-column-gap: 1px; /* Add gap between columns */
  grid-row-gap: 1em; /* Add gap between rows */
  padding: 1px 0;
  margin: 0 auto; /* Align center */
}
.card {
  display: grid; /* Change to grid layout */
  grid-template-rows: auto 1fr auto; /* Three rows: image, product name, price */
  background-color: #fff;
  width: 78px; /* Set width to 78px */
  height: 100px; /* Set height to 78px */
  margin-top: .5em;
  padding: 1px;
  border-radius: 5px;
}
.image-container {
  text-align: center;
  grid-row: 1; /* Align image to the first row */
}
.product-image {
  max-width: 100%;
  object-fit: contain;
  height: 78px;
  width: 78px; /* Set height to 78px */
  margin-bottom: 0;
}
.container {
  padding-top: 2px; /* Update the padding to move the product name closer to the image */
  color: #110f29;
  grid-row: 2; /* Align product name to the second row */
}

.container a {
  font-weight: 300;
  margin-top: 0;
  text-align: center;
  font-size: 6px;
}
.container h6 {
  font-weight: 300;
  margin-top: 0;
  text-align: center;
  font-size: 6px;
}
.hide {
  display: none;
}
@media screen and (max-width: 720px) {
  .product-image {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }
  .card {
    max-width: 10em;
    margin-top: 1em;
  }
  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}
