<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="en">

<head>
	<title>Colonel Trading | Contact Us</title>
	<base href="#" />
	<meta name="description"
		content="The company have been established in 2008. We are importers, working with the local security offices offering them what is new in the market. " />
	<link rel="icon" href="../image/icon/Colonel.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/stylesheet.css" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/jquery.tweet.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/jquery.miniColors.css"
		media="all" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/ocxautosuggest_search.css"
		media="screen" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/slideshow.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/carousel.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/carousel.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="../catalog/view/javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" />
	<script type="text/javascript" src="../catalog/view/javascript/jquery/ui/external/jquery.cookie.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/colorbox/jquery.colorbox.js"></script>
	<link rel="stylesheet" type="text/css" href="../catalog/view/javascript/jquery/colorbox/colorbox.css"
		media="screen" />
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/jquery.tweet.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/tabs.js"></script>
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/common_ecart.js"></script>
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/scripts.js"></script>
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/jquery.miniColors.js"></script>
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/scrolltopcontrol.js"></script>
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Allerta' />
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Allerta' />
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery.ocxautosuggest_search.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery.typewatch.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery.highlight.js"></script>
	<script type="text/javascript"
		src="../catalog/view/javascript/jquery/nivo-slider/jquery.nivo.slider.pack.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery.jcarousel.min.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/social-float/jquery.social.share.1.2.js"></script>
	<script type="text/javascript" src="../js/ssl.js"> </script> <!-- ***** SSL ***** -->
	<script type="text/javascript" src="../js/ssl.js"></script> <!-- ***** TWITTER API INTEGRATION STARTS HERE ***** -->
	<script type="text/javascript" src="../js/ssl.js"></script> <!-- ***** Social Sharing ***** -->
	<script type="text/javascript" src="../js/ssl.js"></script> <!-- ***** Auto Suggest ***** -->
</head>

<body>
	<!-- ***** Headeer ***** -->
	<div class="header"> </div>

	<div id="content-wrapper">
		<div class="container-wrapper">
			<div id="notification"></div>

			<div id="content">
				<div id="popupAutoSuggest">
					<a id="popupAutoSuggestClose"></a>
					<div id="popupAutoSuggestContent"></div>
				</div>

				<div class="breadcrumb">
					<ul>
						<li><a href="../index.html">Home</a></li>
					</ul>
					<ul>
						<li><a href="./register.html">Account</a></li>
					</ul>
					<ul>
						<li><a href="./login.html">Login</a></li>
					</ul>
				</div>
				<h1>Contact Us</h1>
				<form action="#" method="post" enctype="multipart/form-data">
					<h2>Our Location</h2>
					<div class="contact-info">
						<div class="content">
							<div class="left"><b>Address:</b><br />
								Colonel Trading<br />
								Ethad Street – Al Gharafa<br />
								Ethad Management Complex – Office No.120<br />
								Colonel Showroom: (+974) 44182267<br />
								5.11 Showroom: (+974) 44117978<br />
								Mobile: (+974) 66658811<br />
								P.O.Box: 55510<br />
								Email: info@coloneltrading.com</div>
							<div class="right">
								<b>Telephone:</b><br />
								(+974) 448 702 60<br />
								<br />
								<b>Fax:</b><br />
								(+974) 441 184 33
							</div>
						</div>
					</div>
					<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
					<div class="elfsight-app-f9e28672-7e81-49ff-8898-82356a9c4784" data-elfsight-app-lazy></div>
				</form>
			</div>

			<div id="footer"></div>
		</div>
	</div>

	<script type="text/javascript">
		$("#tabs a").tabs();
	</script> <!--Tabs-->

	<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
	<div class="elfsight-app-56121f74-8e81-435e-9f8b-168c8ce1a45a" data-elfsight-app-lazy></div>
	<!--Social Share-->

	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
		var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
		(function () {
			var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
			s1.async = true;
			s1.src = 'https://embed.tawk.to/66068318a0c6737bd1262e7d/1hq4n06d1';
			s1.charset = 'UTF-8';
			s1.setAttribute('crossorigin', '*');
			s0.parentNode.insertBefore(s1, s0);
		})();
	</script>
	<!--End of Tawk.to Script-->
	<script src="../js/header.js" type="text/javascript"></script> <!-- ***** Headeer ***** -->
	<script src="../js/footer.js" type="text/javascript"></script> <!-- ***** Footer ***** -->

</body>

</html>