<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="en">

<head>
	<title>Colonel Trading | Register</title>
	<base href="#" />
	<meta name="description"
		content="The company have been established in 2008. We are importers, working with the local security offices offering them what is new in the market. " />
	<link rel="icon" href="../image/icon/Colonel.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/stylesheet.css" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/jquery.tweet.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/jquery.miniColors.css"
		media="all" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/ocxautosuggest_search.css"
		media="screen" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/slideshow.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/carousel.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/carousel.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="../catalog/view/javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" />
	<script type="text/javascript" src="../catalog/view/javascript/jquery/ui/external/jquery.cookie.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/colorbox/jquery.colorbox.js"></script>
	<link rel="stylesheet" type="text/css" href="../catalog/view/javascript/jquery/colorbox/colorbox.css"
		media="screen" />
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/jquery.tweet.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/tabs.js"></script>
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/common_ecart.js"></script>
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/scripts.js"></script>
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/jquery.miniColors.js"></script>
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/scrolltopcontrol.js"></script>
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Allerta' />
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Allerta' />
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery.ocxautosuggest_search.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery.typewatch.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery.highlight.js"></script>
	<script type="text/javascript"
		src="../catalog/view/javascript/jquery/nivo-slider/jquery.nivo.slider.pack.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery.jcarousel.min.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/social-float/jquery.social.share.1.2.js"></script>
	<script type="text/javascript" src="../js/ssl.js"> </script> <!-- ***** SSL ***** -->
	<script type="text/javascript" src="../js/ssl.js"></script> <!-- ***** TWITTER API INTEGRATION STARTS HERE ***** -->
	<script type="text/javascript" src="../js/ssl.js"></script> <!-- ***** Social Sharing ***** -->
	<script type="text/javascript" src="../js/ssl.js"></script> <!-- ***** Auto Suggest ***** -->
</head>

<body>

	<!-- FULL HEADER WIDTH STARTS HERE -->
	<div id="top-bar">
		<div class="container-top">
			<!-- ***** LINKS Start ***** -->
			<div class="links">
				<a href="../index.html">Home</a>
				<a href="../view/login.html">My Account</a>
				<a href="../view/contactus.html">Contact Us</a>
				<a href="../view/contactus.html">Newsletter</a>
				<a href="../view/login.html">Checkout</a>
			</div>
			<!-- ***** LINKS End ***** -->

			<!-- ***** WELCOME Start ***** -->
			<div id="welcome">
				Welcome visitor <a href="login.html">login</a> or <a href="register.html">Register here</a>
			</div>
			<!-- ***** WELCOME End ***** -->
		</div>
	</div>
	
	<div id="header-wrap">
		<div class="container-header">
			<div id="header">
				<!-- ***** SEARCH Start ***** -->
				<div id="search">
					<div class="button-search"></div>
					<input type="text" name="filter_name" value="Search" onclick="this.value = '';"
						onkeydown="this.style.color = '#000000';" />
				</div>
				<!-- ***** SEARCH End ***** -->

				<!-- ***** LOGO Start ***** -->
				<div id="logo"><a href="../index.html"><img
							src="../image/data/ColonelLogo.png" title="Colonel Trading"
							alt="Colonel Trading" /></a></div>
				<!-- ***** LOGO End ***** -->

				<!-- ***** NOTIFICATIONS Start ***** -->
				<div id="header-notifications">
					<ul>
						<li><a id="wishlist_total_new" href="login.html">Wish
								List&nbsp;&nbsp;&nbsp;&nbsp;<span>0</span></a></li>
						<!-- Separated id="wishlist_total" -->
						<li><a id="cart_total_new" href="addtocart.html">Shopping
								Cart&nbsp;&nbsp;&nbsp;&nbsp;<span>0</span></a></li><!-- id="cart_total" -->
						<li><a id="compare_total_new" href="#">Product Compare&nbsp;&nbsp;&nbsp;&nbsp;<span>0</span></a>
						</li><!-- Separated id="compare_total" -->
					</ul>
				</div>
				<!-- ***** NOTIFICATIONS End ***** -->

				<div id="icons">
					<!-- ***** CURRENCIES Start ***** -->
					<!-- ***** CURRENCIES End ***** -->

					<!-- ***** SOCIAL PROFILES Start ***** -->
					<div id="social-profiles">
						<a class="sp-facebook" href="http://www.facebook.com/people/Louai-Barotji/100004042424984"></a>
						<a class="sp-twitter" href="https://twitter.com/coloneltrading"></a>
					</div>
					<!-- ***** SOCIAL PROFILES End ***** -->

					<!-- ***** LANGUAGES Start ***** -->
					<!-- ***** LANGUAGES End ***** -->
				</div>

				<!-- ***** CART Start ***** -->
				<div id="cart">
					<div class="heading">
						<!-- <h4>Shopping Cart</h4> -->
						<a><span><img src="../catalog/view/theme/eCart/image/cart.png" /></span></a>
					</div>
					<div class="content">
						<div class="empty">Your shopping cart is empty!</div>
					</div>
				</div>
				<!-- ***** CART End ***** -->
			</div>
		</div>
	</div>
	
	<div id="menu-wrap">
		<div class="container-menu">
			<!-- ***** Categories Start ***** -->
			<div id="menu">
				<ul>
					<li><a href="#">Brands</a>
						<div>
							<ul>
								<li><a href="#">5.11
										Tactical</a></li>
								<li>
									<af href="#">COLONEL
										TRADING</af>
								</li>
								<li><a href="#">JULUEN
										ENTERPRISE</a></li>
								<li><a href="#">MAGNUM</a>
								</li>
							</ul>
							<ul>
								<li><a href="#">PETZL</a>
								</li>
								<li><a href="#">PMIROPE</a>
								</li>
								<li><a href="#">PYSER
										- SGI</a></li>
								<li><a href="#">REVISION</a>
								</li>
							</ul>
							<ul>
								<li><a href="#">T3MOTION</a>
								</li>
								<li><a href="#">VECTRONIX</a>
								</li>
								<li><a href="#">ZEBRA
										ARMOUR</a></li>
							</ul>
						</div>
					</li>
					<li><a href="#">Uniforms</a>
						<div>
							<ul>
								<li><a href="#">Custom
										Uniforms</a></li>
								<li><a href="#">Embroidered
										Badges</a></li>
								<li><a href="#">PANTS</a>
								</li>
							</ul>
							<ul>
								<li><a href="#">SHIRTS</a>
								</li>
								<li><a href="#">Outerwear</a>
								</li>
								<li><a href="#">SHORTS</a>
								</li>
							</ul>
							<ul>
								<li><a href="#">Windsheeters
										For Women</a></li>
							</ul>
						</div>
					</li>
					<li><a href="#">Tacticals</a>
						<div>
							<ul>
								<li><a href="#">ACCESSORIES</a>
								</li>
								<li><a href="#">BAGS
										&amp; BACKPACKS</a></li>
							</ul>
							<ul>
								<li><a href="#">GLOVES</a>
								</li>
								<li><a href="#">revisionmilitary</a>
								</li>
							</ul>
							<ul>
								<li><a href="#">Tactical
										Wear</a></li>
							</ul>
						</div>
					</li>
					<li><a href="#">Armours</a>
						<div>
							<ul>
								<li><a href="#">ACCESSORIES</a>
								</li>
								<li><a href="#">Body
										Armour</a></li>
							</ul>
							<ul>
								<li><a href="#">Hard
										Armour</a></li>
								<li><a href="#">helmets</a>
								</li>
							</ul>
							<ul>
								<li><a href="#">Ballistic
										Performance</a></li>
							</ul>
						</div>
					</li>
					<li><a href="#">Rescue
							Equipments</a>
						<div>
							<ul>
								<li><a href="#">PETZL
										Pro</a></li>
							</ul>
							<ul>
								<li><a href="#">PETZL
										Sport</a></li>
							</ul>
							<ul>
								<li><a href="#">pmirope</a>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="#">Footwear</a>
						<div>
							<ul>
								<li><a href="#">FOOTWEAR</a>
								</li>
								<li><a href="#">MAGNUM
										Accessories</a></li>
								<li><a href="#">Safety
										Toe Boots</a></li>
								<li><a href="#">6&quot;
										Boots</a></li>
							</ul>
							<ul>
								<li><a href="#">8&quot;
										Duty Boots</a></li>
								<li><a href="#">Non-Safety
										Toe</a></li>
								<li><a href="#">Black</a>
								</li>
								<li><a href="#">Coyote
										Desert Boots</a></li>
							</ul>
							<ul>
								<li><a href="#">Women's
										Boots</a></li>
								<li><a href="#">Hiking
										Boots</a></li>
								<li><a href="#">Socks</a>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="#">Electric
							Equipments</a>
						<div>
							<ul>
								<li><a href="#">Electric
										Vehicles</a></li>
								<li><a href="#">juluen</a>
								</li>
								<li><a href="#">pyser-sgi</a>
								</li>
								<li><a href="#">Security
										Products</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<!-- ***** Categories End ***** -->
		</div>
	</div>
	<div id="content-wrapper">
		<div class="container-wrapper">
			<div id="notification"></div>
			
			<!-- FULL HEADER WIDTH ENDS HERE -->

			<div id="column-right">
				<div class="box">
					<div class="box-heading">
						<div>Account</div>
					</div>
					<div class="box-content">
						<ul>
							<li><a href="login.html">Login</a> / <a href="register.html">Register</a></li>
							<li><a href="forgotpassword.html">Forgotten Password</a></li>
							<li><a href="login.html">My Account</a></li>
							<li><a href="#">Wish List</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="#">Downloads</a></li>
							<li><a href="productreturn.html">Returns</a></li>
							<li><a href="#">Transactions</a></li>
							<li><a href="#">Newsletter</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="content">
				<div id="popupAutoSuggest">
					<a id="popupAutoSuggestClose"></a>
					<div id="popupAutoSuggestContent"></div>
				</div>

				<script type="text/javascript">
					function OCXAutosuggestSearch() {
						var current_obj = $('#search input[name=\'filter_name\']');

						$.ajax({
							url: 'index.php?route=module/autosuggest_search/search',
							data: 'filter_name=' + encodeURIComponent($(current_obj).val()),
							success: function (data) {
								$('#popupAutoSuggestContent').html(data);

								customSetLocationAutoSPopup(current_obj);

								if (autoSPopupStatus == 0) {
									loadAutoSPopup();
								}
							}
						});
					}

					$(document).ready(function () {
						$('#search input[name=\'filter_name\']').typeWatch({
							callback: OCXAutosuggestSearch,
							wait: 750,
							highlight: false,
							captureLength: 1
						})

						$('#search input[name=\'filter_name\']').bind('keyup', function () {
							if (($(this).val().length < 1) && autoSPopupStatus) {
								disableAutoSPopup();
							}
						});

						$("#popupAutoSuggestClose").click(function () {
							disableAutoSPopup();
						});

						//Press Escape event!
						$(document).keypress(function (e) {
							if (e.keyCode == 27 && autoSPopupStatus == 1) {
								disableAutoSPopup();
							}
						});

					});
				</script>
				<div class="breadcrumb">
					<ul>
						<li><a href="../index.html">Home</a></li>
					</ul>
					<ul>
						<li><a href="login.html">Account</a></li>
					</ul>
					<ul>
						<li><a href="register.html">Register</a></li>
					</ul>
				</div>
				<h1>Register Account</h1>
				<p>If you already have an account with us, please login at the <a
						href="login.html">login page</a>.</p>
				<form action="#" method="post"
					enctype="multipart/form-data">
					<h2>Your Personal Details</h2>
					<div class="content">
						<table class="form">
							<tr>
								<td><span class="required">*</span> First Name:</td>
								<td><input type="text" name="firstname" value="" />
								</td>
							</tr>
							<tr>
								<td><span class="required">*</span> Last Name:</td>
								<td><input type="text" name="lastname" value="" />
								</td>
							</tr>
							<tr>
								<td><span class="required">*</span> E-Mail:</td>
								<td><input type="text" name="email" value="" />
								</td>
							</tr>
							<tr>
								<td><span class="required">*</span> Telephone:</td>
								<td><input type="text" name="telephone" value="" />
								</td>
							</tr>
							<tr>
								<td>Fax:</td>
								<td><input type="text" name="fax" value="" /></td>
							</tr>
						</table>
					</div>
					<h2>Your Address</h2>
					<div class="content">
						<table class="form">
							<tr>
								<td>Company:</td>
								<td><input type="text" name="company" value="" /></td>
							</tr>
							<tr style="display: none;">
								<td>Account:</td>
								<td><select name="customer_group_id">
										<option value="1" selected="selected">Default</option>
									</select></td>
							</tr>
							<tr id="company-id-display">
								<td><span id="company-id-required" class="required">*</span> Company ID:</td>
								<td><input type="text" name="company_id" value="" />
								</td>
							</tr>
							<tr id="tax-id-display">
								<td><span id="tax-id-required" class="required">*</span> Tax ID:</td>
								<td><input type="text" name="tax_id" value="" />
								</td>
							</tr>
							<tr>
								<td><span class="required">*</span> Address 1:</td>
								<td><input type="text" name="address_1" value="" />
								</td>
							</tr>
							<tr>
								<td>Address 2:</td>
								<td><input type="text" name="address_2" value="" /></td>
							</tr>
							<tr>
								<td><span class="required">*</span> City:</td>
								<td><input type="text" name="city" value="" />
								</td>
							</tr>
							<tr>
								<td><span id="postcode-required" class="required">*</span> Post Code:</td>
								<td><input type="text" name="postcode" value="" />
								</td>
							</tr>
							<tr>
								<td><span class="required">*</span> Country:</td>
								<td><select name="country_id">
										<option value=""> --- Please Select --- </option>
										<option value="2">Albania</option>
										<option value="3">Algeria</option>
										<option value="4">American Samoa</option>
										<option value="5">Andorra</option>
										<option value="6">Angola</option>
										<option value="7">Anguilla</option>
										<option value="8">Antarctica</option>
										<option value="9">Antigua and Barbuda</option>
										<option value="10">Argentina</option>
										<option value="11">Armenia</option>
										<option value="12">Aruba</option>
										<option value="13">Australia</option>
										<option value="14">Austria</option>
										<option value="15">Azerbaijan</option>
										<option value="16">Bahamas</option>
										<option value="17">Bahrain</option>
										<option value="18">Bangladesh</option>
										<option value="19">Barbados</option>
										<option value="20">Belarus</option>
										<option value="21">Belgium</option>
										<option value="22">Belize</option>
										<option value="23">Benin</option>
										<option value="24">Bermuda</option>
										<option value="25">Bhutan</option>
										<option value="26">Bolivia</option>
										<option value="27">Bosnia and Herzegowina</option>
										<option value="28">Botswana</option>
										<option value="29">Bouvet Island</option>
										<option value="30">Brazil</option>
										<option value="31">British Indian Ocean Territory</option>
										<option value="32">Brunei Darussalam</option>
										<option value="33">Bulgaria</option>
										<option value="34">Burkina Faso</option>
										<option value="35">Burundi</option>
										<option value="36">Cambodia</option>
										<option value="37">Cameroon</option>
										<option value="38">Canada</option>
										<option value="39">Cape Verde</option>
										<option value="40">Cayman Islands</option>
										<option value="41">Central African Republic</option>
										<option value="42">Chad</option>
										<option value="43">Chile</option>
										<option value="44">China</option>
										<option value="45">Christmas Island</option>
										<option value="46">Cocos (Keeling) Islands</option>
										<option value="47">Colombia</option>
										<option value="48">Comoros</option>
										<option value="49">Congo</option>
										<option value="50">Cook Islands</option>
										<option value="51">Costa Rica</option>
										<option value="52">Cote D'Ivoire</option>
										<option value="53">Croatia</option>
										<option value="54">Cuba</option>
										<option value="55">Cyprus</option>
										<option value="56">Czech Republic</option>
										<option value="237">Democratic Republic of Congo</option>
										<option value="57">Denmark</option>
										<option value="58">Djibouti</option>
										<option value="59">Dominica</option>
										<option value="60">Dominican Republic</option>
										<option value="61">East Timor</option>
										<option value="62">Ecuador</option>
										<option value="63">Egypt</option>
										<option value="64">El Salvador</option>
										<option value="65">Equatorial Guinea</option>
										<option value="66">Eritrea</option>
										<option value="67">Estonia</option>
										<option value="68">Ethiopia</option>
										<option value="69">Falkland Islands (Malvinas)</option>
										<option value="70">Faroe Islands</option>
										<option value="71">Fiji</option>
										<option value="72">Finland</option>
										<option value="73">France</option>
										<option value="74">France, Metropolitan</option>
										<option value="75">French Guiana</option>
										<option value="76">French Polynesia</option>
										<option value="77">French Southern Territories</option>
										<option value="78">Gabon</option>
										<option value="79">Gambia</option>
										<option value="80">Georgia</option>
										<option value="81">Germany</option>
										<option value="82">Ghana</option>
										<option value="83">Gibraltar</option>
										<option value="84">Greece</option>
										<option value="85">Greenland</option>
										<option value="86">Grenada</option>
										<option value="87">Guadeloupe</option>
										<option value="88">Guam</option>
										<option value="89">Guatemala</option>
										<option value="90">Guinea</option>
										<option value="91">Guinea-bissau</option>
										<option value="92">Guyana</option>
										<option value="93">Haiti</option>
										<option value="94">Heard and Mc Donald Islands</option>
										<option value="95">Honduras</option>
										<option value="96">Hong Kong</option>
										<option value="97">Hungary</option>
										<option value="98">Iceland</option>
										<option value="99">India</option>
										<option value="100">Indonesia</option>
										<option value="101">Iran (Islamic Republic of)</option>
										<option value="102">Iraq</option>
										<option value="103">Ireland</option>
										<option value="104">Israel</option>
										<option value="105">Italy</option>
										<option value="106">Jamaica</option>
										<option value="107">Japan</option>
										<option value="108">Jordan</option>
										<option value="109">Kazakhstan</option>
										<option value="110">Kenya</option>
										<option value="111">Kiribati</option>
										<option value="113">Korea, Republic of</option>
										<option value="114">Kuwait</option>
										<option value="115">Kyrgyzstan</option>
										<option value="116">Lao People's Democratic Republic</option>
										<option value="117">Latvia</option>
										<option value="118">Lebanon</option>
										<option value="119">Lesotho</option>
										<option value="120">Liberia</option>
										<option value="121">Libyan Arab Jamahiriya</option>
										<option value="122">Liechtenstein</option>
										<option value="123">Lithuania</option>
										<option value="124">Luxembourg</option>
										<option value="125">Macau</option>
										<option value="126">Macedonia</option>
										<option value="127">Madagascar</option>
										<option value="128">Malawi</option>
										<option value="129">Malaysia</option>
										<option value="130">Maldives</option>
										<option value="131">Mali</option>
										<option value="132">Malta</option>
										<option value="133">Marshall Islands</option>
										<option value="134">Martinique</option>
										<option value="135">Mauritania</option>
										<option value="136">Mauritius</option>
										<option value="137">Mayotte</option>
										<option value="138">Mexico</option>
										<option value="139">Micronesia, Federated States of</option>
										<option value="140">Moldova, Republic of</option>
										<option value="141">Monaco</option>
										<option value="142">Mongolia</option>
										<option value="143">Montserrat</option>
										<option value="144">Morocco</option>
										<option value="145">Mozambique</option>
										<option value="146">Myanmar</option>
										<option value="147">Namibia</option>
										<option value="148">Nauru</option>
										<option value="149">Nepal</option>
										<option value="150">Netherlands</option>
										<option value="151">Netherlands Antilles</option>
										<option value="152">New Caledonia</option>
										<option value="153">New Zealand</option>
										<option value="154">Nicaragua</option>
										<option value="155">Niger</option>
										<option value="156">Nigeria</option>
										<option value="157">Niue</option>
										<option value="158">Norfolk Island</option>
										<option value="112">North Korea</option>
										<option value="159">Northern Mariana Islands</option>
										<option value="160">Norway</option>
										<option value="161">Oman</option>
										<option value="162">Pakistan</option>
										<option value="163">Palau</option>
										<option value="164">Panama</option>
										<option value="165">Papua New Guinea</option>
										<option value="166">Paraguay</option>
										<option value="167">Peru</option>
										<option value="168">Philippines</option>
										<option value="169">Pitcairn</option>
										<option value="170">Poland</option>
										<option value="171">Portugal</option>
										<option value="172">Puerto Rico</option>
										<option value="173" selected="selected">Qatar</option>
										<option value="174">Reunion</option>
										<option value="175">Romania</option>
										<option value="176">Russian Federation</option>
										<option value="177">Rwanda</option>
										<option value="178">Saint Kitts and Nevis</option>
										<option value="179">Saint Lucia</option>
										<option value="180">Saint Vincent and the Grenadines</option>
										<option value="181">Samoa</option>
										<option value="182">San Marino</option>
										<option value="183">Sao Tome and Principe</option>
										<option value="184">Saudi Arabia</option>
										<option value="185">Senegal</option>
										<option value="186">Seychelles</option>
										<option value="187">Sierra Leone</option>
										<option value="188">Singapore</option>
										<option value="189">Slovak Republic</option>
										<option value="190">Slovenia</option>
										<option value="191">Solomon Islands</option>
										<option value="192">Somalia</option>
										<option value="193">South Africa</option>
										<option value="194">South Georgia &amp; South Sandwich Islands</option>
										<option value="195">Spain</option>
										<option value="196">Sri Lanka</option>
										<option value="197">St. Helena</option>
										<option value="198">St. Pierre and Miquelon</option>
										<option value="199">Sudan</option>
										<option value="200">Suriname</option>
										<option value="201">Svalbard and Jan Mayen Islands</option>
										<option value="202">Swaziland</option>
										<option value="203">Sweden</option>
										<option value="204">Switzerland</option>
										<option value="205">Syrian Arab Republic</option>
										<option value="206">Taiwan</option>
										<option value="207">Tajikistan</option>
										<option value="208">Tanzania, United Republic of</option>
										<option value="209">Thailand</option>
										<option value="210">Togo</option>
										<option value="211">Tokelau</option>
										<option value="212">Tonga</option>
										<option value="213">Trinidad and Tobago</option>
										<option value="214">Tunisia</option>
										<option value="215">Turkey</option>
										<option value="216">Turkmenistan</option>
										<option value="217">Turks and Caicos Islands</option>
										<option value="218">Tuvalu</option>
										<option value="219">Uganda</option>
										<option value="220">Ukraine</option>
										<option value="221">United Arab Emirates</option>
										<option value="222">United Kingdom</option>
										<option value="223">United States</option>
										<option value="224">United States Minor Outlying Islands</option>
										<option value="225">Uruguay</option>
										<option value="226">Uzbekistan</option>
										<option value="227">Vanuatu</option>
										<option value="228">Vatican City State (Holy See)</option>
										<option value="229">Venezuela</option>
										<option value="230">Viet Nam</option>
										<option value="231">Virgin Islands (British)</option>
										<option value="232">Virgin Islands (U.S.)</option>
										<option value="233">Wallis and Futuna Islands</option>
										<option value="234">Western Sahara</option>
										<option value="235">Yemen</option>
										<option value="236">Yugoslavia</option>
										<option value="238">Zambia</option>
										<option value="239">Zimbabwe</option>
									</select>
								</td>
							</tr>
							<tr>
								<td><span class="required">*</span> Region / State:</td>
								<td><select name="zone_id">
									</select>
								</td>
							</tr>
						</table>
					</div>
					<h2>Your Password</h2>
					<div class="content">
						<table class="form">
							<tr>
								<td><span class="required">*</span> Password:</td>
								<td><input type="password" name="password" value="" />
								</td>
							</tr>
							<tr>
								<td><span class="required">*</span> Password Confirm:</td>
								<td><input type="password" name="confirm" value="" />
								</td>
							</tr>
						</table>
					</div>
					<h2>Newsletter</h2>
					<div class="content">
						<table class="form">
							<tr>
								<td>Subscribe:</td>
								<td> <input type="radio" name="newsletter" value="1" />
									Yes <input type="radio" name="newsletter" value="0" checked="checked" />
									No </td>
							</tr>
						</table>
					</div>
					<div class="buttons">
						<div class="right">I have read and agree to the <a class="colorbox"
								href="privacypolicy.html"
								alt="Privacy Policy"><b>Privacy Policy</b></a> <input type="checkbox" name="agree"
								value="1" />
							<input type="button" value="Continue" class="button" />
						</div>
					</div>
				</form>
			</div>
			<script type="text/javascript">
					$('select[name=\'customer_group_id\']').live('change', function () {
						var customer_group = [];

						customer_group[1] = [];
						customer_group[1]['company_id_display'] = '1';
						customer_group[1]['company_id_required'] = '0';
						customer_group[1]['tax_id_display'] = '0';
						customer_group[1]['tax_id_required'] = '1';


						if (customer_group[this.value]) {
							if (customer_group[this.value]['company_id_display'] == '1') {
								$('#company-id-display').show();
							} else {
								$('#company-id-display').hide();
							}

							if (customer_group[this.value]['company_id_required'] == '1') {
								$('#company-id-required').show();
							} else {
								$('#company-id-required').hide();
							}

							if (customer_group[this.value]['tax_id_display'] == '1') {
								$('#tax-id-display').show();
							} else {
								$('#tax-id-display').hide();
							}

							if (customer_group[this.value]['tax_id_required'] == '1') {
								$('#tax-id-required').show();
							} else {
								$('#tax-id-required').hide();
							}
						}
					});

				$('select[name=\'customer_group_id\']').trigger('change');
				</script>
			<script type="text/javascript">< !-
					$('select[name=\'country_id\']').bind('change', function () {
						$.ajax({
							url: 'index.php?route=account/register/country&country_id=' + this.value,
							dataType: 'json',
							beforeSend: function () {
								$('select[name=\'country_id\']').after('<span class="wait">&nbsp;<img src="../catalog/view/theme/eCart/image/loading.gif" alt="" /></span>');
							},
							complete: function () {
								$('.wait').remove();
							},
							success: function (json) {
								if (json['postcode_required'] == '1') {
									$('#postcode-required').show();
								} else {
									$('#postcode-required').hide();
								}

								html = '<option value=""> --- Please Select --- </option>';

								if (json['zone'] != '') {
									for (i = 0; i < json['zone'].length; i++) {
										html += '<option value="' + json['zone'][i]['zone_id'] + '"';

										if (json['zone'][i]['zone_id'] == '') {
											html += ' selected="selected"';
										}

										html += '>' + json['zone'][i]['name'] + '</option>';
									}
								} else {
									html += '<option value="0" selected="selected"> --- None --- </option>';
								}

								$('select[name=\'zone_id\']').html(html);
							},
							error: function (xhr, ajaxOptions, thrownError) {
								alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
							}
						});
					});

				$('select[name=\'country_id\']').trigger('change');
				//--></script>
			<script type="text/javascript">
					$('.colorbox').colorbox({
						width: 640,
						height: 480
					});
				</script>

			<!-- ***** Custom Footer Starts Here ***** -->
			<div id="custom-footer">
				<div class="cf-shadow-top"></div>
				<!-- ***** Custom Footer About Start Here ***** -->
				<div class="column">
					<h3>About</h3>
					<div>
						<p><iframe width="235" height="150" frameborder="0" scrolling="no" marginheight="0"
								marginwidth="0"
								src="https://maps.google.com/maps/ms?msa=0&amp;msid=210835707599857199545.0004c99af6dc914087883&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;ll=25.32758,51.456099&amp;spn=0.005819,0.010042&amp;z=15&amp;output=embed"></iframe><br /><small>View
								<a href="https://maps.google.com/maps/ms?msa=0&amp;msid=210835707599857199545.0004c99af6dc914087883&amp;hl=en&amp;ie=UTF8&amp;t=h&amp;ll=25.32758,51.456099&amp;spn=0.005819,0.010042&amp;z=15&amp;source=embed"
									style="color:#0000FF;text-align:left">Colonel Trading</a> in a larger map</small>
						</p>
					</div>
				</div>
				<!-- ***** Custom Footer About Start Here ***** -->

				<!-- ***** Custom Footer Contacts Start Here ***** -->
				<div class="column">
					<h3>Contacts</h3>
					<div>
						<div class='phone'>(+974) 448 702 60</div>
						<div class='fax'>(+974) 441 184 33</div>
						<div class='email'>info@coloneltrading.com</div>
						<div class='skype'>coloneltrading</div>
					</div>
				</div>
				<!-- ***** Custom Footer Contacts End Here ***** -->

				<!-- ***** Twitter Feed Starts Here ***** -->
				<div class="column">
					<h3>Latest Tweets</h3>
					<div>
						<div class="twitterfeeds">
							<div class="tweet"></div>
						</div>
					</div>
				</div>
				<!-- ***** Twitter Feed Ends Here ***** -->

				<!-- ***** Facebook Vike Box Starts Here ***** -->
				<div class="column">
					<h3>Facebook</h3>
					<div>
						<div class="facebookfans">
							<script type="text/javascript"
								src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US"></script>
							<script type="text/javascript">FB.init("");</script>
							<div id="fb-root"></div>
							<script src="../catalog/view/theme/eCart/js/fbObjectValidationV4.js"
								type="text/javascript"></script>
						</div>
					</div>
				</div>
				<!-- ***** Facebook Like Box Ends Here ***** -->
				<div class="cf-shadow-bottom"></div>
			</div>
			<!-- ***** Custom Footer Ends Here ***** -->

			<!-- ***** Footer Category Menu Starts Here ***** -->
			<div id="footer">
				<div class="column">
					<h3>Information</h3>
					<ul>
						<li><a href="/view/aboutus.html">About Us</a></li>
						<li><a href="/view/deliveryinformation.html">Delivery Information</a></li>
						<li><a href="/view/privacypolicy.html">Privacy Policy</a></li>
						<li><a href="/view/termsandcondition.html">Terms &amp; Conditions</a></li>
						<li><a href="/view/fullsizechart.html">Full Size Charts</a></li>
						<li><a href="/view/balisticinformation.html">Ballistic Performance</a></li>
					</ul>
				</div>
				<div class="column">
					<h3>Customer Service</h3>
					<ul>
						<li><a href="/view/contactus.html">Contact Us</a></li>
						<li><a href="/view/productreturn.html">Returns</a></li>
						<li><a href="/view/sitemap.html">Site Map</a></li>
					</ul>
				</div>
				<div class="column">
					<h3>Extras</h3>
					<ul>
						<li><a href="#">Brands</a></li>
						<li><a href="/view/purchasegiftcert.html">Gift Vouchers</a></li>
						<li><a href="/view/specialoffer.html">Specials</a></li>
					</ul>
				</div>
				<div class="column">
					<h3>Account</h3>
					<ul>
						<li><a href="/view/login.html">Account</a></li>
						<li><a href="#">Order History</a></li>
						<li><a href="/view/login.html">Wish List</a></li>
						<li><a href="#">Newsletter</a></li>
					</ul>
				</div>
			</div>
			<!-- ***** Footer Category Menu Ends Here ***** -->

			<!-- ***** Lower Footer Starts Here ***** -->
			<div id="lower-footer">
				<div id="payment-icons">
					<img alt='PayPal' title='PayPal' src='../catalog/view/theme/eCart/image/pipaypal.png' /> <img
						alt='MoneyBookers' title='MoneyBookers'
						src='../catalog/view/theme/eCart/image/pimoneybookers.png' />
				</div>
				<div id="security-seals">
					<p style="text-align: center;">
						<strong style="color: rgb(105, 105, 105); font-size: 18px;">Colonel Trading Company</strong>
					</p>
					<p style="text-align: center;">
						<span style="font-size:10px;">Ethad Street – Al Gharafa – Ethad Management Complex – Office
							No.120<br />
							<strong>Tel:</strong> +974-44870260 &nbsp;. &nbsp;<strong>Fax:</strong> +974-44118433
							&nbsp;</span><span style="font-size: 10px;">♦</span><span
							style="font-size:10px;">&nbsp;&nbsp;<strong>Colonel Showroom:</strong> +974-44182267
							&nbsp;</span><span style="font-size: 10px;">♦</span><span
							style="font-size:10px;">&nbsp;&nbsp;<strong>5.11 Showroom:</strong> +974-44117978<br />
							<strong>Mobile:</strong> +974-66658811 &nbsp;</span><span
							style="font-size: 10px;">♦</span><span
							style="font-size:10px;">&nbsp;&nbsp;<strong>P.O.Box:</strong> 55510 &nbsp;</span><span
							style="font-size:10px;">♦</span><span style="font-size:10px;">&nbsp;&nbsp;<strong>Email:
							</strong>info@coloneltrading.com</span>
					</p>
				</div>
			</div>
			<!-- ***** Lower Footer Ends Here ***** -->
			<div id="powered">
				Colonel Trading &copy; 2021.

			</div>
		</div>
	</div>

	<div id="social-share"></div>

</body>

</html>