<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="en">

<head>
	<title>Colonel Trading | Search</title>
	<base href="#" />
	<meta name="description"
		content="The company have been established in 2008. We are importers, working with the local security offices offering them what is new in the market. " />
	<link rel="icon" href="../image/icon/Colonel.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/stylesheet.css" />
	<link rel="stylesheet" type="text/css" href="../css/search-filter.css" /> <!--Product Search-->
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Allerta' />
</head>

<body>
	<!-- ***** Headeer ***** -->
	<div class="header"> </div>

	<div id="content-wrapper">
		<div class="container-wrapper">
			<div id="notification"></div>
			<!-- FULL HEADER WIDTH ENDS HERE -->

			<div id="content">
				<div id="popupAutoSuggest">
					<a id="popupAutoSuggestClose"></a>
					<div id="popupAutoSuggestContent"></div>
				</div>
				<div class="breadcrumb">
					<ul>
						<li><a href="../index.html">Home</a></li>
					</ul>
					<ul>
						<li><a href="./search.html">Search</a></li>
					</ul>
				</div>
				<div class="content">
					<div class="search-wrapper">
						<div id="search-container">
							<input type="search" id="search-input" placeholder="Search product name here.." />
							<button id="search">Search</button>
						</div>
						<div id="buttons">
							<button class="filter-button-value" onclick="filterProduct('all')">All</button>
							<button class="filter-button-value" onclick="filterProduct('Boots')">
								Boots
							</button>
							<button class="filter-button-value" onclick="filterProduct('Jacket')">
								Jacket
							</button>
							<button class="filter-button-value" onclick="filterProduct('Pants')">
								Pants
							</button>
							<button class="filter-button-value" onclick="filterProduct('Shirt')">
								Shirt
							</button>
							<button class="filter-button-value" onclick="filterProduct('Short')">
								Short
							</button>
							<button class="filter-button-value" onclick="filterProduct('Badge')">
								Badge
							</button>
							<button class="filter-button-value" onclick="filterProduct('Electronics')">
								Electronics
							</button>
							<button class="filter-button-value" onclick="filterProduct('Socks')">
								Socks
							</button>
							<button class="filter-button-value" onclick="filterProduct('Bag')">
								Bag
							</button>
							<button class="filter-button-value" onclick="filterProduct('Rope')">
								Rope
							</button>
							<button class="filter-button-value" onclick="filterProduct('Accesories')">
								Accesories
							</button>
						</div>
						<div id="products"></div>
					</div>
				</div>
			</div>
			<div id="footer"></div>
		</div>
	</div>
	<script type="text/javascript">
		$("#tabs a").tabs();
	</script> <!--Tabs-->

	<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
	<div class="elfsight-app-56121f74-8e81-435e-9f8b-168c8ce1a45a" data-elfsight-app-lazy></div>
	<!--Social Share-->

	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
		var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
		(function () {
			var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
			s1.async = true;
			s1.src = 'https://embed.tawk.to/66068318a0c6737bd1262e7d/1hq4n06d1';
			s1.charset = 'UTF-8';
			s1.setAttribute('crossorigin', '*');
			s0.parentNode.insertBefore(s1, s0);
		})();
	</script>
	<!--End of Tawk.to Script-->
	<script src="../js/header.js" type="text/javascript"></script> <!-- ***** Headeer ***** -->
	<script src="../js/footer.js" type="text/javascript"></script> <!-- ***** Footer ***** -->
	<script src="../js/search-filter.js" type="text/javascript"></script> <!-- ***** Product-search ***** -->
</body>

</html>