<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="en">

<head>
	<title>Colonel Trading | Sitemap</title>
	<base href="#" />
	<meta name="description"
		content="The company have been established in 2008. We are importers, working with the local security offices offering them what is new in the market. " />
	<link rel="icon" href="../image/icon/Colonel.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/stylesheet.css" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/jquery.tweet.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/jquery.miniColors.css"
		media="all" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/ocxautosuggest_search.css"
		media="screen" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/slideshow.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/carousel.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../catalog/view/theme/eCart/stylesheet/carousel.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="../catalog/view/javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" />
	<script type="text/javascript" src="../catalog/view/javascript/jquery/ui/external/jquery.cookie.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/colorbox/jquery.colorbox.js"></script>
	<link rel="stylesheet" type="text/css" href="../catalog/view/javascript/jquery/colorbox/colorbox.css"
		media="screen" />
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/jquery.tweet.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/tabs.js"></script>
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/common_ecart.js"></script>
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/scripts.js"></script>
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/jquery.miniColors.js"></script>
	<script type="text/javascript" src="../catalog/view/theme/eCart/js/scrolltopcontrol.js"></script>
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Allerta' />
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Allerta' />
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery.ocxautosuggest_search.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery.typewatch.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery.highlight.js"></script>
	<script type="text/javascript"
		src="../catalog/view/javascript/jquery/nivo-slider/jquery.nivo.slider.pack.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/jquery/jquery.jcarousel.min.js"></script>
	<script type="text/javascript" src="../catalog/view/javascript/social-float/jquery.social.share.1.2.js"></script>
	<script type="text/javascript" src="../js/ssl.js"> </script> <!-- ***** SSL ***** -->
	<script type="text/javascript" src="../js/ssl.js"></script> <!-- ***** TWITTER API INTEGRATION STARTS HERE ***** -->
	<script type="text/javascript" src="../js/ssl.js"></script> <!-- ***** Social Sharing ***** -->
	<script type="text/javascript" src="../js/ssl.js"></script> <!-- ***** Auto Suggest ***** -->
</head>

<body>
	<!-- ***** Headeer ***** -->
	<div class="header"> </div>

	<div id="content-wrapper">
		<div class="container-wrapper">
			<div id="notification"></div>
			<!-- FULL HEADER WIDTH ENDS HERE -->

			<div id="content">
				<div id="popupAutoSuggest">
					<a id="popupAutoSuggestClose"></a>
					<div id="popupAutoSuggestContent"></div>
				</div>
				<div class="breadcrumb">
					<ul>
						<li><a href="../index.html">Home</a></li>
					</ul>
					<ul>
						<li><a href="./sitemap.html">Site Map</a></li>
					</ul>
				</div>
				<h1>Site Map</h1>
				<div class="sitemap-info">
					<div class="left">
						<ul>
							<li><a
									href="../product/colonel-pg1.html">Uniforms</a>
								<ul>
									<li><a
											href="../product/colonel-custom-pg1.html">Custom
											Uniforms</a>
									</li>
									<li><a
											href="../product/colonel-pg1.html">Embroidered
											Badges</a>
									</li>
									<li><a
											href="../product/511-pants-pg1.html">PANTS</a>
										<ul>
											<li><a
													href="../product/tactical-accesories-pg1.html">Accessories</a>
											</li>
											<li><a
													href="">Belts</a>
											</li>
											<li><a
													href="../product/511-pants-pg1.html">EMS
													Pants</a></li>
											<li><a
													href="../product/511-pants-pg1.html">Fire
													Retardant Pants</a></li>
											<li><a
													href="../product/511-outerwear-pg1.html">Outerwear
													Pants</a></li>
											<li><a
													href="../product/511-pants-pg1.html">Station
													Pants</a></li>
											<li><a
													href="../product/511-pants-pg1.html">Tactical
													Pants</a></li>
											<li><a
													href="../product/511-tactical-tdu-pant.html">TDU
													Pants</a></li>
											<li><a
													href="../product/511-pants-pg1.html">Undergear
													Pants</a></li>
											<li><a
													href="../product/511-pants-pg1.html">Uniform
													Pants</a></li>
											<li><a
													href="../product/511-pants-pg1.html">Women's
													Pants</a></li>
										</ul>
									</li>
									<li><a
											href="../product/511-shirts-pg1.html">SHIRTS</a>
										<ul>
											<li><a
													href="../product/511-shirts-pg1.html">Concealed
													Carry</a></li>
											<li><a
													href="../product/511-shirts-pg1.html">Fire
													Retardant Shirts</a></li>
											<li><a
													href="../product/511-shirts-pg1.html">Job
													Shirts</a></li>
											<li><a
													href="../product/511-shirts-pg1.html">Polos</a>
											</li>
											<li><a
													href="../product/511-shirts-pg1.html">Station
													Shirts</a></li>
											<li><a
													href="../product/511-shirts-pg1.html">T-Shirts</a>
											</li>
											<li><a
													href="../product/511-shirts-pg1.html">Tactical
													Shirts</a></li>
											<li><a
													href="../product/511-shirts-pg1.html">TDU
													Shirts</a></li>
											<li><a
													href="../product/511-shirts-pg1.html">Undergear
													Shirts</a></li>
											<li><a
													href="../product/511-shirts-pg1.html">Uniform
													Shirts</a></li>
											<li><a
													href="../product/511-shirts-pg1.html">Women's
													Shirts</a></li>
										</ul>
									</li>
									<li><a
											href="../product/511-shirts-pg1.html">Outerwear</a>
										<ul>
											<li><a
													href="../product/511-shirts-pg1.html">Concealed
													Carry</a></li>
											<li><a
													href="../product/511-shirts-pg1.html">Covert
													/ Off Duty</a></li>
											<li><a
													href="../product/511-shirts-pg1.html">High-Visibility</a>
											</li>
											<li><a
													href="../product/511-shirts-pg1.html">Job
													Shirts</a></li>
											<li><a
													href="../product/511-shirts-pg1.html">Mens
													Apparel</a></li>
											<li><a
													href="../product/511-shirts-pg1.html">Station
													Jackets</a></li>
											<li><a
													href="#path=84_95_152">Uniform
													Jackets</a></li>
											<li><a
													href="#path=84_95_158">Vests</a>
											</li>
											<li><a
													href="#path=84_95_159">Women's
													Jackets</a></li>
										</ul>
									</li>
									<li><a
											href="#path=84_63">SHORTS</a>
										<ul>
											<li><a
													href="#path=84_63_151">Belts</a>
											</li>
											<li><a
													href="#path=84_63_149">TacLite
													Shorts</a></li>
											<li><a
													href="#path=84_63_148">Tactical
													Shorts</a></li>
											<li><a
													href="#path=84_63_150">Women's
													Shorts</a></li>
										</ul>
									</li>
									<li><a
											href="#path=84_99">Windsheeters
											For Women</a>
									</li>
								</ul>
							</li>
							<li><a
									href="#path=60">Tacticals</a>
								<ul>
									<li><a
											href="#path=60_70">ACCESSORIES</a>
										<ul>
											<li><a
													href="#path=60_70_65">FLASHLIGHTS</a>
											</li>
											<li><a
													href="#path=60_70_179">Hats</a>
											</li>
											<li><a
													href="#path=60_70_175">Holsters</a>
											</li>
											<li><a
													href="#path=60_70_177">Polarized
													Sunglasses</a></li>
											<li><a
													href="#path=60_70_181">Slings</a>
											</li>
											<li><a
													href="#path=60_70_176">Sunglasses</a>
											</li>
											<li><a
													href="#path=60_70_174">Tactical
													Knives</a></li>
											<li><a
													href="#path=60_70_178">Training</a>
											</li>
											<li><a
													href="#path=60_70_173">Watches</a>
											</li>
										</ul>
									</li>
									<li><a
											href="#path=60_67">BAGS
											&amp; BACKPACKS</a>
										<ul>
											<li><a
													href="#path=60_67_164">All
													Hazards</a></li>
											<li><a
													href="#path=60_67_161">Backpacks</a>
											</li>
											<li><a
													href="#path=60_67_160">Bags</a>
											</li>
											<li><a
													href="#path=60_67_168">Business
													Tactical</a></li>
											<li><a
													href="#path=60_67_167">COVRT</a>
											</li>
											<li><a
													href="#path=60_67_165">EMS
													/ Fire Bags</a></li>
											<li><a
													href="#path=60_67_166">Gun
													Cases</a></li>
											<li><a
													href="#path=60_67_171">Load
													Bearing Eqpt.</a></li>
											<li><a
													href="#path=60_67_170">Patrol</a>
											</li>
											<li><a
													href="#path=60_67_162">Pouches</a>
											</li>
											<li><a
													href="#path=60_67_169">Range
													Gear</a></li>
											<li><a
													href="#path=60_67_163">Rolling
													Duffels</a></li>
										</ul>
									</li>
									<li><a
											href="#path=60_68">GLOVES</a>
									</li>
									<li><a
											href="#path=60_232">revisionmilitary</a>
									</li>
									<li><a
											href="#path=60_59">Tactical
											Wear</a>
										<ul>
											<li><a
													href="#path=60_59_64">OUTERWEAR</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a
									href="#path=79">Armours</a>
								<ul>
									<li><a
											href="#path=79_83">ACCESSORIES</a>
										<ul>
											<li><a
													href="#path=79_83_136">Bags</a>
											</li>
											<li><a
													href="#path=79_83_135">Covers</a>
											</li>
											<li><a
													href="#path=79_83_133">Harnesses</a>
											</li>
											<li><a
													href="#path=79_83_134">Protectors</a>
											</li>
										</ul>
									</li>
									<li><a
											href="#path=79_81">Body
											Armour</a>
										<ul>
											<li><a
													href="#path=79_81_129">Bomb
													&amp; Mine</a></li>
											<li><a
													href="#path=79_81_125">Covert</a>
											</li>
											<li><a
													href="#path=79_81_127">Military</a>
											</li>
											<li><a
													href="#path=79_81_126">Police</a>
											</li>
											<li><a
													href="#path=79_81_128">Special</a>
											</li>
										</ul>
									</li>
									<li><a
											href="#path=79_82">Hard
											Armour</a>
										<ul>
											<li><a
													href="#path=79_82_216">Hard
													Visor</a></li>
											<li><a
													href="#path=79_82_131">Plates</a>
											</li>
											<li><a
													href="#path=79_82_132">Shielde</a>
											</li>
										</ul>
									</li>
									<li><a
											href="#path=79_80">helmets</a>
										<ul>
											<li><a
													href="#path=79_80_217">HARNESS
												</a></li>
											<li><a
													href="#path=79_80_124">Visor</a>
											</li>
										</ul>
									</li>
									<li><a
											href="#path=79_215">Ballistic
											Performance</a>
									</li>
								</ul>
							</li>
							<li><a href="#path=73">Rescue
									Equipments</a>
								<ul>
									<li><a
											href="#path=73_197">PETZL
											Pro</a>
										<ul>
											<li><a
													href="#path=73_197_210">Headlamps</a>
											</li>
											<li><a
													href="#path=73_197_198">Verticality</a>
											</li>
										</ul>
									</li>
									<li><a
											href="#path=73_184">PETZL
											Sport</a>
										<ul>
											<li><a
													href="#path=73_184_185">accessories</a>
											</li>
											<li><a
													href="#path=73_184_186">Anchors</a>
											</li>
											<li><a
													href="#path=73_184_187">ascenders</a>
											</li>
											<li><a
													href="#path=73_184_188">Belay
													devices and descenders</a></li>
											<li><a
													href="#path=73_184_189">Carabiners</a>
											</li>
											<li><a
													href="#path=73_184_195">Chalkbags</a>
											</li>
											<li><a
													href="#path=73_184_190">Crampons</a>
											</li>
											<li><a
													href="#path=73_184_191">Dynamic
													ropes</a></li>
											<li><a
													href="#path=73_184_192">harnesses</a>
											</li>
											<li><a
													href="#path=73_184_193">helmets</a>
											</li>
											<li><a
													href="#path=73_184_194">Ice
													axes</a></li>
											<li><a
													href="#path=73_184_196">Pulleys</a>
											</li>
										</ul>
									</li>
									<li><a
											href="#path=73_222">pmirope</a>
										<ul>
											<li><a
													href="#path=73_222_226">hardware</a>
											</li>
											<li><a
													href="#path=73_222_229">Logistics
													&amp; Support Gear</a></li>
											<li><a
													href="#path=73_222_227">Patient
													Care</a></li>
											<li><a
													href="#path=73_222_225">Personal
													Gear</a></li>
											<li><a
													href="#path=73_222_223">rope</a>
											</li>
											<li><a
													href="#path=73_222_228">Solutions
													&amp; Kits</a></li>
											<li><a
													href="#path=73_222_224">Webbing
													&amp; Cordage</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a
									href="#path=71">Footwear</a>
								<ul>
									<li><a
											href="#path=71_66">FOOTWEAR</a>
									</li>
									<li><a
											href="#path=71_183">MAGNUM
											Accessories</a>
									</li>
									<li><a
											href="#path=71_88">Safety
											Toe Boots</a>
									</li>
									<li><a
											href="#path=71_86">6&quot;
											Boots</a>
									</li>
									<li><a
											href="#path=71_87">8&quot;
											Duty Boots</a>
									</li>
									<li><a
											href="#path=71_89">Non-Safety
											Toe</a>
									</li>
									<li><a
											href="#path=71_90">Black</a>
									</li>
									<li><a
											href="#path=71_91">Coyote
											Desert Boots</a>
									</li>
									<li><a
											href="#path=71_92">Women's
											Boots</a>
									</li>
									<li><a
											href="#path=71_93">Hiking
											Boots</a>
									</li>
									<li><a
											href="#path=71_94">Socks</a>
									</li>
								</ul>
							</li>
							<li><a href="#path=72">Electric
									Equipments</a>
								<ul>
									<li><a
											href="#path=72_218">Electric
											Vehicles</a>
										<ul>
											<li><a
													href="#path=72_218_219">T3
													Series</a></li>
										</ul>
									</li>
									<li><a
											href="#path=72_231">juluen</a>
									</li>
									<li><a
											href="#path=72_230">pyser-sgi</a>
									</li>
									<li><a
											href="#path=72_221">Security
											Products</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="right">
						<ul>
							<li><a href="specialoffer.html">Special
									Offers</a></li>
							<li><a href="login.html">My Account</a>
								<ul>
									<li><a href="login.html">Account
											Information</a></li>
									<li><a
											href="forgotpassword.html">Password</a>
									</li>
									<li><a href="#">Address
											Book</a></li>
									<li><a href="#">Order
											History</a></li>
									<li><a
											href="#">Downloads</a>
									</li>
								</ul>
							</li>
							<li><a href="#">Shopping Cart</a>
							</li>
							<li><a href="#">Checkout</a>
							</li>
							<li><a href="search.html">Search</a></li>
							<li>Information <ul>
									<li><a
											href="leftbanner.html">left
											Banner1</a></li>
									<li><a
											href="partnerbannerside.html">Partner
											Banner Side</a></li>
									<li><a
											href="producttopbanner.html">Product
											Top Banner</a></li>
									<li><a
											href="aboutus.html">About
											Us</a></li>
									<li><a
											href="deliveryinformation.html">Delivery
											Information</a></li>
									<li><a
											href="privacypolicy.html">Privacy
											Policy</a></li>
									<li><a
											href="termsandcondition.html">Terms
											&amp; Conditions</a></li>
									<li><a
											href="fullsizechart.html">Full
											Size Charts</a></li>
									<li><a
											href="balisticinformation.html">Ballistic
											Performance</a></li>
									<li><a href="contactus.html">Contact
											Us</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div id="footer"></div>
		</div>
	</div>
	<script type="text/javascript">
		$("#tabs a").tabs();
	</script> <!--Tabs-->

	<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
	<div class="elfsight-app-56121f74-8e81-435e-9f8b-168c8ce1a45a" data-elfsight-app-lazy></div>
	<!--Social Share-->

	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
		var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
		(function () {
			var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
			s1.async = true;
			s1.src = 'https://embed.tawk.to/66068318a0c6737bd1262e7d/1hq4n06d1';
			s1.charset = 'UTF-8';
			s1.setAttribute('crossorigin', '*');
			s0.parentNode.insertBefore(s1, s0);
		})();
	</script>
	<!--End of Tawk.to Script-->
	<script src="../js/header.js" type="text/javascript"></script> <!-- ***** Headeer ***** -->
	<script src="../js/footer.js" type="text/javascript"></script> <!-- ***** Footer ***** -->
</body>

</html>